
/* start at laptop version */
@media screen and (max-width:1024px){
    .container{
        width: 80%;
        margin: 0 auto;
    }

}

/* start at tab version */
@media screen and (max-width: 768px){
    
    .container{
        width: 90%;
        margin: 0 auto;
    }

    nav ul {
        position: fixed;
        top: 80px;
        left: -100%;
        background-color: black;
        height: 100%;
        width: 90%;
        flex-direction: column;
        text-align: center;
        transition: all 0.6s ease;
    }
    nav ul li {
        margin: 15px 0;
    }
    nav ul li a{
        color: white;
    }
    nav ul li a :hover {
       font-size: 15px;
    }
    
    label #open-btn{
        display: block;
    }
    #nav-check:checked ~ ul{
        left: 5%;
    }
    #nav-check:checked ~ label #open-btn:before{
        content:"\f00d";
    }
  
}